<form ngNativeValidate #employeeForm="ngForm" (ngSubmit)="saveEmployee()">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create Employee</h3>
    </div>

    <div class="panel-body">
      <div
        class="form-group"
        [class.has-error]="name.invalid && name.touched"
        [class.has-success]="name.valid"
      >
        <label for="name" class="control-label">Name</label>
        <input
          required
          type="text"
          id="name"
          name="name"
          ngModel
          [(ngModel)]="employee.name"
          #name="ngModel"
          class="form-control"
        />
        <span class="help-block" *ngIf="name.invalid && name.touched"
          >Name is required</span
        >
      </div>

      <div
        class="form-group"
        [class.has-error]="email.invalid"
        [class.has-success]="email.valid"
      >
        <label for="email" class="control-label">email</label>
        <input
          type="text"
          id="email"
          name="email"
          [required]="contactPreference.value === 'email'"
          email
          ngModel
          [(ngModel)]="employee.email"
          #email="ngModel"
          class="form-control"
        />
        <span class="help-block" *ngIf="email.errors?.required"
          >Email is required</span
        >
        <span class="help-block" *ngIf="email.errors?.email"
          >Invalid Email</span
        >
      </div>

      <div class="form-group" [class.has-error]="phoneNumber.invalid">
        <label for="phoneNumber" class="control-label">Phone Number</label>
        <input
          type="text"
          id="phoneNumber"
          name="phoneNumber"
          [required]="contactPreference.value === 'phone'"
          #phoneNumber="ngModel"
          ngModel
          [(ngModel)]="employee.phoneNumber"
          class="form-control"
        />
        <span class="help-block" *ngIf="phoneNumber.invalid">
          Phone number is required
        </span>
      </div>

      <div
        class="form-group"
        [class.has-error]="
          contactPreference.invalid && contactPreference.touched
        "
      >
        <label for="contact preference" class="control-label"
          >Contact Preference</label
        >
        <div class="form-control">
          <label for="byEmail" class="radio-inline">
            <input
              type="radio"
              value="email"
              id="byEmail"
              required
              #contactPreference="ngModel"
              name="contactPreference"
              ngModel
              [(ngModel)]="employee.contactPreference"
            />
            Email
          </label>

          <label for="phone" class="radio-inline">
            <input
              type="radio"
              value="phone"
              id="phone"
              required
              #contactPreference="ngModel"
              name="contactPreference"
              ngModel
              [(ngModel)]="employee.contactPreference"
            />
            Phone
          </label>
        </div>
        <span
          class="help-block"
          *ngIf="contactPreference.touched && contactPreference.invalid"
          >contact Preference is required</span
        >
        <!-- 
        contact preference value: {{ contactPreference.value }} -->
      </div>

      <div
        class="form-group"
        [class.has-error]="gender.touched && gender.invalid"
      >
        <label for="email" class="control-label">Gender</label>
        <div class="form-control">
          <label for="male" class="radio-inline">
            <input
              type="radio"
              value="male"
              id="male"
              name="gender"
              required
              #gender="ngModel"
              ngModel
              [(ngModel)]="employee.gender"
            />
            Male
          </label>

          <label for="female" class="radio-inline">
            <input
              type="radio"
              value="female"
              id="female"
              name="gender"
              required
              ngModel
              [(ngModel)]="employee.gender"
              #gender="ngModel"
            />
            Female
          </label>
        </div>
        <span class="help-block" *ngIf="gender.touched && gender.invalid"
          >Gender is required</span
        >
      </div>

      <div
        class="form-group"
        [class.has-error]="isActive.invalid && isActive.touched"
      >
        <div class="form-control control-label">
          <label for="isActive" class="checkbox-inline">
            <input
              type="checkbox"
              id="isActive"
              name="isActive"
              [required]="employee.isActive === null"
              #isActive="ngModel"
              ngModel
              [(ngModel)]="employee.isActive"
              checked
            />
            Is Active
          </label>
        </div>
        <span
          class="help-block"
          *ngIf="isActive.errors?.required && isActive.touched"
          >Checkbox is required</span
        >
      </div>

      <div
        class="form-group"
        [class.has-error]="department.touched && department.invalid"
      >
        <label for="department" class="control-label"> Department </label>
        <select
          id="department"
          name="department"
          ngModel
          required
          #department="ngModel"
          [(ngModel)]="employee.department"
          class="form-control"
          appSelectDirective="select"
        >
          <option ngValue="select">Select department</option>
          <option
            *ngFor="let department of departments"
            [value]="department.id"
          >
            {{ department.name }}
          </option>
        </select>
        <!-- <span
          class="help-block"
          *ngIf="department.touched && department.invalid"
        >
          Department is required
        </span> -->

        <span
          class="help-block"
          *ngIf="department.touched && department.errors?.defaultSelected"
        >
          Department is required
        </span>
      </div>

      <div class="row">
        <div class="form-group col-md-5">
          <label for="dateOfBirth">Date Of Birth</label>
          <input
            type="text"
            bsDatepicker
            placement="right"
            [bsConfig]="datePickerConfig"
            id="dateOfBirth"
            name="dateOfBirth"
            ngModel
            [(ngModel)]="employee.dateOfBirth"
            class="form-control"
          />
        </div>
      </div>

      <div class="form-group">
        <label for="photoPath">Photo Path</label>
        <input
          type="text"
          id="photoPath"
          name="photoPath"
          ngModel
          [(ngModel)]="employee.photoPath"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="togglePreview()">
          {{ previewPhoto ? "Hide" : "Show" }} Preview
        </button>
      </div>

      <div class="form-group">
        <img
          [src]="employee.photoPath"
          height="200"
          width="200"
          *ngIf="previewPhoto"
        />
      </div>

      <!-- <div
        ngModelGroup="passwordGroup"
        #passwordGroup="ngModelGroup"
        appConfirmEqualValidator="password"
        [class.has-error]="
          passwordGroup.errors?.notEqual && !confirmPassword.errors?.required
        "
      >
        <div
          class="form-group"
          [class.has-error]="password.invalid && password.touched"
        >
          <label for="name" class="control-label">Password</label>
          <input
            required
            type="text"
            id="password"
            name="password"
            ngModel
            [(ngModel)]="employee.password"
            #password="ngModel"
            class="form-control"
          />
          <span
            class="help-block"
            *ngIf="password.errors?.required && password.touched"
            >Password is required</span
          >
        </div>

        <div
          class="form-group"
          [class.has-error]="confirmPassword.invalid && confirmPassword.touched"
        >
          <label for="name" class="control-label">Confirm Password</label>
          <input
            required
            type="text"
            id="confirmPassword"
            name="confirmPassword"
            ngModel
            [(ngModel)]="employee.confirmPassword"
            #confirmPassword="ngModel"
            class="form-control"
          />
          <span
            class="help-block"
            *ngIf="confirmPassword.errors?.required && confirmPassword.touched"
            >confirmPassword is required</span
          >
          <span
            class="help-block"
            *ngIf="
              passwordGroup.errors?.notEqual &&
              confirmPassword.touched &&
              !confirmPassword.errors?.required
            "
            >Confirm password and password do not match</span
          >
        </div>
      </div> -->
    </div>
    <div class="panel-footer">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="employeeForm.invalid"
      >
        Save
      </button>
    </div>
  </div>
</form>

Angular Generated model: {{ employeeForm.value | json }}

<br />
<br />
Our model: {{ employee | json }}
