<form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create Employee</h3>
    </div>

    <div class="panel-body">
      <div class="form-group">
        <label for="fullName">Full Name</label>
        <input
          type="text"
          id="fullName"
          name="fullName"
          ngModel
          #fullName="ngModel"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <label for="email">email</label>
        <input
          type="text"
          id="email"
          name="email"
          ngModel
          #email="ngModel"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <label for="email">Gender</label>
        <div class="form-control">
          <label for="male">
            <input type="radio" value="male" id="male" />
            Male
          </label>

          <label for="female">
            <input type="radio" value="female" id="female" />
            Male
          </label>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>

{{ employeeForm.value | json }}
